body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fAfBfC;
  }

  .container {
    padding: 20px;
  }

  #title {
    text-align: center;
    margin: 20px auto;
  }

  #title h1 {
    margin-top: 20px;
    font-size: 40px;
  }

  .storytelling {
    margin-top: 20px;
    margin-left: 20px;
  }

  .storytelling h2 {
    text-align: left;
  }

  .storytelling p {
    margin: auto 40px;
    line-height: 1.5;
    text-align: justify;
    font-size: 23px;
  }

  .charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .chart-section {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 40px 6%;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .chart-description {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: auto 20px;
  }

  .chart-description h3 {
    margin: 0;
    font-size: 24px;
  }

  .chart-description p {
    margin-top: 10px;
    font-size: 22px;
    text-align: justify;
    line-height: 1.5;
  }

  .chart-image {
    flex: 0 0 auto;
  }

  .chart-image img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  #title_div h3{
    font-size: 35px;
  }

  .cloud {
    width: 50%;
    height: 60%;
  }
