body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 60px;
    border-bottom: 1px solid #f0e0e0;
  }
  .navbar .nav-links {
    display: flex;
    font-size: 18px;
  }
  .navbar .nav-links a {
    text-decoration: none;
    color: black;
    padding: 22px 40px;
    transition: background-color 0.3s;
  }
  .navbar .nav-links a:hover {
    background-color: black;
    color: white;
  }

  hr{
    width: 30%;
  }

  .center-title {
    text-align: center;
    margin: 20px 0;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.chart-container {
    width: 60%;
}
.table-container {
    width: 35%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}
.metric-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 80%;
}
.metric-chart {
    width: 60%;
}
.metric-description {
    width: 35%;
    padding-left: 20px;
}
  .footer {
    background-color: black;
    padding: 20px 40px;
    color: white;
    text-align: center;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }
  .footer-title {
    font-size: 24px;
    font-weight: bold;
  }
  .footer-buttons {
    display: flex;
    gap: 20px;
  }
  .footer-buttons button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    color: white;
    z-index: 1;
  }
  .footer-buttons button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
  }
  .footer-buttons button:hover::before {
    transform: translateX(0);
  }
  .footer-buttons button:hover {
    color: #000;
    transition: 0.4s ease-in-out;
  }
  .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
  }