body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0px 40px;
  }
  .navbar .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .navbar .nav-links {
    display: flex;
    font-size: 18px;
  }
  .navbar .nav-links input {
    text-decoration: none;
    border: none;
    background-color: white;
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding: 22px 40px;
    transition: background-color 0.3s;
  }
  .navbar .nav-links input:hover {
    background-color: black;
    color: white;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .background-image {
    width: 100%;
    height: 80vh;
    background-image: url('/static/images/paint-test-3.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 19px;
    margin-bottom: 40px;
    color: #000;
    font-weight: bold;
  }
  .button {
    background-color: rgb(33, 33, 33);
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 16px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  .button:hover {
    background-color: #000;
  }

  .test-section {
    padding: 49px 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  .test-section h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .test-area,
  .results-display {
    width: 48%;
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .test-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .test-area textarea {
    width: 600px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    outline: none;
  }

  .test-area .button-group {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
  }

  .button-group input[type="submit"] {
    width: 170px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    color: black;
    z-index: 1;
  }
  .button-group input[type="submit"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   .button-group input[type="submit"]:hover::before {
    transform: translateX(0);
  }
  .button-group input[type="submit"]:hover {
    color: #fff;
    transition: 0.4s ease-in-out;
  }

  .results-display {
    padding-left: 40px;
    border-left: 1px solid #ccc;
    text-align: left;
  }

  .content {
    display: flex;
    padding: 20px;
    height: 500px;
    background-color: #F6F6F6;
  }
  .intro {
    width: 50%;
    padding: 20px;
    padding-left: 40px;
  }
  .chart {
    width: 50%;
    height: 100%;
  }

  .intro input[type="submit"] {
    width: 170px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    color: black;
    z-index: 1;
  }

    .intro input[type="submit"]::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        transform: translateX(-100%);
        transition: all .3s;
        z-index: -1;
     }
     .intro input[type="submit"]:hover::before {
        transform: translateX(0);
    }
     .intro input[type="submit"]:hover {
        color: #fff;
        transition: 0.4s ease-in-out;
    }

  .eda {
    text-align: center;
    background-color: #FFF;
    padding: 30px 0px;
  }
  .eda h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .eda-container {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .cont {
    display: inline-block;
    width: 400px;
    margin: 0 5px;
    vertical-align: top;
    padding: 20px;
    border-radius: 10px;
  }
  .cont:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }
  .chart1 {
    width: 100%;
    height: 200px;
  }
  #big{
    width: 100%;
    height: 100%;
  }
  .description {
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
  }
  .see_more {
    margin: 40px auto;
  }

  .see_more button {
    width: 170px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    color: black;
    z-index: 1;
  }
  .see_more button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   .see_more button:hover::before {
    transform: translateX(0);
  }
   .see_more button:hover {
    color: #fff;
    transition: 0.4s ease-in-out;
  }

  .footer {
    background-color: black;
    padding: 20px 40px;
    color: white;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }

  .footer-title {
    font-size: 24px;
    font-weight: bold;
  }

  .footer-buttons {
    display: flex;
    gap: 20px;
  }
  .footer-buttons button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    color: white;
    z-index: 1;
  }
  .footer-buttons button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   .footer-buttons button:hover::before {
    transform: translateX(0);
  }
   .footer-buttons button:hover {
    color: #000;
    transition: 0.4s ease-in-out;
  }

  .footer-buttons input[type="submit"] {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    color: white;
    z-index: 1;
  }
  .footer-buttons input[type="submit"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   .footer-buttons input[type="submit"]:hover::before {
    transform: translateX(0);
  }
   .footer-buttons input[type="submit"]:hover {
    color: #000;
    transition: 0.4s ease-in-out;
  }

  .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
  }
