body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .nav-sides {
    height: 60px;
    width: 110px;
  }
  .nav-sides img {
    height: 60px;
    width: auto;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    position: relative;
    z-index: 1000;
  }
  .navbar .nav-links {
    display: flex;
    font-size: 18px;
  }
  .navbar .nav-links input {
    text-decoration: none;
    border: none;
    background-color: white;
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding: 22px 40px;
    transition: background-color 0.3s;
  }
  .navbar .nav-links input:hover {
    background-color: black;
    color: white;
  }

  .def_container {
    display: flex;
    margin: 50px 0 0 0;
  }

  hr{
    width: 30%;
  }

  .def_title {
    width: 35%;
    font-size: 70px;
    font-weight: bold;
    line-height: 1.5;
    color: black;
    padding: 50px 20px;
    padding-left: 120px;
  }
  .definition {
    width: 65%;
    padding: 20px 40px;
  }

  .eda_container {
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    height: 400px;
  }
  .charts {
    flex: 1;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .chart_description {
    flex: 1;
    width: 50%;
    font-size: 18px;
    padding-right: 40px;
    line-height: 1.5;
    text-align: justify;
  }

  #little_title{
    padding: 30px;
    text-align: center;
  }

  .container22 {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .box {
      text-align: center;
  }
  .box img {
      width: 70%;
      margin: 0;
  }
  .title {
      margin-top: 10px;
  }

  .footer {
    background-color: black;
    padding: 20px 40px;
    color: white;
    text-align: center;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .footer-content img {
    width: 200px;
    height: auto;
  }
  .footer-buttons {
    display: flex;
    gap: 20px;
  }
  .footer-buttons button, .footer-buttons input[type="submit"] {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    color: white;
    z-index: 1;
  }
  .footer-buttons button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
  }
  .footer-buttons button:hover::before {
    transform: translateX(0);
  }
  .footer-buttons button:hover {
    color: #000;
    transition: 0.4s ease-in-out;
  }
    .footer-buttons input[type="submit"]:hover {
        background-color: white;
        color: black;
        transition: 0.4s ease-in-out;
    }
  .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
  }