body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .nav-sides {
    height: 60px;
    width: 110px;
  }
  .nav-sides img {
    height: 60px;
    width: auto;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    position: relative;
    z-index: 1000;
  }
  .navbar .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .navbar .nav-links {
    display: flex;
    font-size: 18px;
  }
  .navbar .nav-links input {
    text-decoration: none;
    border: none;
    background-color: white;
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding: 22px 40px;
    transition: background-color 0.3s;
  }
  .navbar .nav-links input:hover {
    background-color: black;
    color: white;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .background-image {
    width: 100%;
    height: 80vh;
    position: relative;
  }

  .blur-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/static/images/Data-science-NLP.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(3px);
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba( 219, 65, 27, 0.6 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 50px;
  }
  .title {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #ffffff;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 60px;
    font-weight: 500;
    line-height: 1.5;
  }
  .button {
    background-color: #ffffff;
    color: #000;
    font-weight: bold;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    transition: color 0.3s ease;
    cursor: pointer;
    border: 1px solid #db411b;
  }
  .button:hover {
    transition: color 0.3s ease;
    color: #b62f18;
    border-color: #db411b;
  }

  .test-section {
    padding: 49px 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  .test-section h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .test-area,
  .results-display {
    width: 48%;
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .test-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .test-area textarea {
    width: 600px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    outline: none;
  }

  .test-area .button-group {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
  }

  .button-group input[type="submit" i], .intro input[type="submit"], .see_more input[type="submit"]{
    width: 170px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    color: black;
    }

    .button-group input[type="submit" i]:hover, .intro input[type="submit"]:hover, .see_more input[type="submit"]:hover {
    color: #fff;
    background-color: black;
    transition: 0.4s ease-in-out;
    }

  .results-display {
    border-left: 1px solid #ccc;
    text-align: left;
  }

  .results-display h3 {
    font-weight: normal;
    padding: 0 0 0 40px;
  }

  .results-display p {
    padding: 0 0 0 40px;
  }

  .content {
    display: flex;
    padding: 20px;
    height: 500px;
    background-color: #F6F6F6;
  }
  .intro {
    width: 50%;
    padding: 20px;
    padding-left: 40px;
  }
  .chart {
    width: 50%;
    height: 100%;
  }
  .intro input[type="submit"] {
    background: transparent ;
  }

  .intro p{
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.5;
  }
  .eda {
    text-align: center;
    background-color: #FFF;
    padding: 30px 0px;
  }
  .eda h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .eda-container {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .cont {
    display: inline-block;
    width: 400px;
    margin: 0 5px;
    vertical-align: top;
    padding: 20px;
    border-radius: 10px;
  }
  .cont:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }
  .chart1 {
    width: 100%;
    height: 200px;
  }
  #big{
    width: 100%;
    height: 100%;
  }
  .description {
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
  }
  .see_more {
    margin: 40px auto;
  }

  .footer {
    background-color: black;
    padding: 20px 40px;
    color: white;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .footer-content img {
    width: 200px;
    height: auto;
  }

  .footer-buttons {
    display: flex;
    gap: 20px;
  }
  .footer-buttons button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    color: white;
    z-index: 1;
  }
  .footer-buttons button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   .footer-buttons button:hover::before {
    transform: translateX(0);
  }
   .footer-buttons button:hover {
    color: #000;
    transition: 0.4s ease-in-out;
  }

  .footer-buttons input[type="submit"] {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    color: white;
    z-index: 1;
  }
   .footer-buttons input[type="submit"]:hover {
    color: #000;
    background-color: white;
    transition: 0.4s ease-in-out;
  }

  .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
  }
